
.row1{
    height: 60px;
    background-color: aqua;
    border: 2px solid;
}
.row2{
   
    background-color: yellowgreen;
    border: 2px solid;
}
.row3{
    
    background-color: palevioletred;
    border: 2px solid;
}